<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Menu</title>
  </head>
  <body>
    <!--NAV BAR STARTS HERE-->
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">TocH Complaint Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hi {{user.username}}!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!--NAV ENDS HERE-->

<!--FLASH MESSAGE FOR PRINTING ON SUCCESSFUL REGISTRATION OF COMPLAINTS-->
{% if messages %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Success!</h4>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
  <hr>
  <p class="mb-0">Good Day</p>
</div>
{% endif %}
<!--  FLASH MESSAGE ENDS HERE     -->
<br>
<br>

<center>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Register">
  <div class="card-body">
    <h5 class="card-title">Register Your Complaint</h5>
    <p class="card-text">Simply type in your complaint at your convenience & wait till it gets resolved.</p>
    <a href="{% url 'complaintreg' %} "class="btn btn-primary">Lodge a complaint</a>
  </div>
</div>

<br>
<br>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Status">
  <div class="card-body">
    <h5 class="card-title">View Status</h5>
    <p class="card-text">View the status of your registered complaint.</p>
    <a href="{% url 'complaintreg' %} "class="btn btn-primary">Check Here</a>
  </div>
</div>
</center>

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
